# Copyright (c) 2019-2024. www.hydrologis.com. All rights reserved.
# Use of this source code is governed by a GPL3 license that can be
# found in the LICENSE file.
name: smash
description: The Smart Mobile Application for Surveyor's Happyness.
publish_to: none

version: 1.9.5+76 # we keep the build number growing to have it properly handled in android
# agvtool new-version -all 67

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=2.0.0 <4.0.0"

# dependency_overrides:
#   intl: '0.17.0'  

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  
  intl: '>=0.16.1'

  ##################################
  # OWN
  ##################################
  # apache 2
  geoimage: ^0.4.0

  smashlibs:
    path: ./smashlibs/
    # git:
    #   url: https://github.com/moovida/smashlibs.git
    #   ref: 02331b9
      
  smash_import_export_plugins:
    path: ./smash_import_export_plugins/
    # git:
    #   url: https://github.com/geopaparazzi/smash_import_export_plugins.git
    #   ref: "0765081"


  dart_shp: ^1.1.0

  dart_hydrologis_utils: ^0.8.1
    # path: ../dart_hydrologis_utils/
  dart_jts: ^0.2.3
    # path: ../dart_jts/



  dart_hydrologis_db: ^1.1.0
  # path: ../dart_hydrologis_db/
  # git:
  #  url: https://github.com/moovida/dart_hydrologis_db.git

  # apache 2
  flutter_geopackage: ^0.6.3
  # path: ../flutter_geopackage/
  #  git:
  #    url: https://github.com/moovida/flutter_geopackage.git
  
  dart_postgis: ^0.3.2
    # path: /home/hydrologis/development/SMASH/dart_postgis/
  # git:
  #   url: https://github.com/moovida/dart_postgis
  
  ##################################
  # OTHERS MAPS RELATED
  ##################################
  # MIT
  # this also pulls flutter_map_dragmarker
  flutter_map_line_editor: ^7.0.0

  # BSD
  flutter_map: ^7.0.2

  flutter_map_marker_cluster: ^1.4.0

  # MIT
  # lat_lon_grid_plugin: ^0.2.6
    # git:
    #   url: https://github.com/moovida/lat_lon_grid_plugin.git
    #   ref: bump_flutter_map_to_1

  mapsforge_flutter: #^2.0.1
    # path: /home/hydrologis/development/SMASH/mapsforge_flutter_moovida/mapsforge_flutter
    git:
      url: https://github.com/mikes222/mapsforge_flutter.git
      # url: https://github.com/moovida/mapsforge_flutter.git
      path: mapsforge_flutter
      ref: 3e5e41e988c2010b5136a7dd5e9dd164eb3e853e

  # apache
  latlong2: ^0.9.1

  # MIT
  geocoding: ^3.0.0

  ##################################
  # OTHERS
  ##################################
  # Apache 2.0
  catcher_2: ^2.0.1

  # MIT
  sqlite3_flutter_libs: ^0.5.9

  # # MIT
  # positioned_tap_detector_2: ^1.0.4

  #MIT
  # extended_image: ^8.0.2
  extended_image:
    git:
      url: https://github.com/laiiihz/extended_image
      ref: migrate-to-3.13
    # git:
    #   url: https://github.com/moovida/extended_image

  # BSD
  fl_chart: ^0.68.0

  # MIT
  permission_handler: ^11.3.1
  # git: 
  #   url: https://github.com/Baseflow/flutter-permission-handler.git
  #   path: permission_handler
  # BSD License
  synchronized: ^3.0.0+3

  # Apache 2
  badges: ^3.0.2
  # git:
  #   url: https://github.com/yako-dev/flutter_badges.git
  # MIT
  tutorial_coach_mark: ^1.0.3

  # MIT
  after_layout: ^1.2.0

  # BSD
  package_info_plus: ^8.0.2
  
  # NOTES: As noted on issue 20761, package_info on iOS requires the Xcode build folder to be
  # rebuilt after changes to the version string in pubspec.yaml. Clean the Xcode build folder
  # with: XCode Menu -> Product -> (Holding Option Key) Clean build folder.
  # ON IOS TO EXPOSE STORAGE FOLLOWING KEYS ARE NEEDED
  #    <key>LSSupportsOpeningDocumentsInPlace</key>
  #    <true/>
  #    <key>UIFileSharingEnabled</key>
  #    <true/>
  # GPL 3.0
  # background_locator: #1.6.12
    # git:
    #   url: https://github.com/moovida/background_locator.git
    #   ref: gms_free_1.6.12_version
    # git:
    #   url: https://github.com/caiobraga/background_locator.git
    #   ref: 830989e338b2d7b789dc2ffa2bd407e7a1d92b19
  background_locator_2:
    # path: ../background_locator_2/
    git:
      url: https://github.com/moovida/background_locator_2
      ref: sanak/develop

      
  # MIT
  # geolocator: ^5.3.0
  # on IOS heading is not supported. For rotation we should try the plugin: location: 2.3.5
  # ON IOS NEEDS:
  #  <key>NSLocationWhenInUseUsageDescription</key>
  #  <string>The app needs access to location when open to allow the user to map geographic data on the territory.</string>
  #  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  #  <string>The app needs access to location in background to be able to log geographic shapes on the territory also while walking with the screen off or during phone calls.</string>
  #  <key>NSLocationAlwaysUsageDescription</key>
  #  <string>The app needs access to location in background to be able to log geographic shapes on the territory also while walking with the screen off or during phone calls.</string>
  

  # MIT
  flutter_slidable: ^3.0.1

  # BSD  rainbow_vis: 1.0.3
  rainbow_color: 2.0.1

  # BSD
  stack_trace: ^1.11.0

  # BSD
  url_launcher: ^6.1.5

  xml: ^6.1.0 #'>=4.5.1 <=5.3.1'

  # Apache 2.0
  gpx: ^2.1.0
    # git:
    #   url: https://github.com/moovida/dart-gpx.git
    #   ref: "540e167"

  # Apache 2.0
  # pdf: '>=2.1.0 <=3.6.0'

  # image: 3.0.0-nullsafety.0
  # image: '>=2.1.14 <3.0.0-nullsafety.0'

  # MIT
  # flutter_widget_from_html: ^0.14.9


dev_dependencies:
  # MIT
  flutter_launcher_icons: ^0.13.1
    # git:
    #   url: https://github.com/moovida/flutter_launcher_icons.git

  test: ^1.24.3

  lints: ^1.0.1

#  flutter_test:
#    sdk: flutter
flutter_icons:
  ios: true
  android: false
  image_path_ios: "assets/ic_launcher_ios.png"
  image_path_android: "assets/ic_launcher_ios.png"
  adaptive_icon_background: "assets/ic_launcher_ios.png"
  adaptive_icon_foreground: "assets/ic_launcher_ios.png"
  # to rebuild icons run: flutter packages pub run flutter_launcher_icons:main

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  generate: true

  assets:
    - assets/fonts/OpenSans-Regular.ttf
    - assets/fonts/OpenSans-Bold.ttf
    - assets/fonts/OpenSans-Italic.ttf
    - assets/fonts/OpenSans-BoldItalic.ttf
    - assets/tags.json
    - assets/emptytile256.png
    - assets/maptools_icon.png
    - assets/smash_icon.png
    - assets/smash_logo_64.png
    - assets/smash_text.png
    - assets/defaultrender.xml
    - assets/custom.xml
    - assets/darkrender.xml
    - assets/mapsforge_default.xml
    - assets/mapsforge_osmarender.xml
    - packages/mapsforge_flutter/assets/patterns/dark_farmland.svg
    - packages/mapsforge_flutter/assets/patterns/dark_military.png
    - packages/mapsforge_flutter/assets/patterns/coniferous.svg
    - packages/mapsforge_flutter/assets/patterns/coniferous_and_deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/farmland.svg
    - packages/mapsforge_flutter/assets/patterns/grass.svg
    - packages/mapsforge_flutter/assets/patterns/hills.svg
    - packages/mapsforge_flutter/assets/patterns/quarry.svg
    - packages/mapsforge_flutter/assets/patterns/scrub.svg
    - packages/mapsforge_flutter/assets/patterns/swamp.svg
    - packages/mapsforge_flutter/assets/patterns/access-destination.png
    - packages/mapsforge_flutter/assets/patterns/access-private.png
    - packages/mapsforge_flutter/assets/patterns/arrow.png
    - packages/mapsforge_flutter/assets/patterns/cemetery.png
    - packages/mapsforge_flutter/assets/patterns/deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/dot.png
    - packages/mapsforge_flutter/assets/patterns/farmland.svg
    - packages/mapsforge_flutter/assets/patterns/grass.svg
    - packages/mapsforge_flutter/assets/patterns/hills.svg
    - packages/mapsforge_flutter/assets/patterns/marsh.png
    - packages/mapsforge_flutter/assets/patterns/military.png
    - packages/mapsforge_flutter/assets/patterns/nature-reserve.png
    - packages/mapsforge_flutter/assets/patterns/pike.png
    - packages/mapsforge_flutter/assets/patterns/quarry.svg
    - packages/mapsforge_flutter/assets/patterns/rail.png
    - packages/mapsforge_flutter/assets/patterns/scrub.svg
    - packages/mapsforge_flutter/assets/patterns/swamp.svg
    - packages/mapsforge_flutter/assets/patterns/wood-coniferous.png
    - packages/mapsforge_flutter/assets/patterns/wood-deciduous.png
    - packages/mapsforge_flutter/assets/patterns/wood-mixed.png
    - packages/mapsforge_flutter/assets/symbols/bench.svg
    - packages/mapsforge_flutter/assets/symbols/cable_car.svg
    - packages/mapsforge_flutter/assets/symbols/chair_lift.svg
    - packages/mapsforge_flutter/assets/symbols/dot_black.svg
    - packages/mapsforge_flutter/assets/symbols/dot_blue.svg
    - packages/mapsforge_flutter/assets/symbols/dot_blue_dark.svg
    - packages/mapsforge_flutter/assets/symbols/dot_magenta.svg
    - packages/mapsforge_flutter/assets/symbols/dot_white.svg
    - packages/mapsforge_flutter/assets/symbols/gondola.svg
    - packages/mapsforge_flutter/assets/symbols/oneway.svg
    - packages/mapsforge_flutter/assets/symbols/peak.svg
    - packages/mapsforge_flutter/assets/symbols/railway-crossing-small.svg
    - packages/mapsforge_flutter/assets/symbols/railway-crossing.svg
    - packages/mapsforge_flutter/assets/symbols/traffic_signal.svg
    - packages/mapsforge_flutter/assets/symbols/volcano.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/alpinehut.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/camping.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/caravan_park.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/chalet.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/hostel.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/hotel2.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/shelter2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/firestation3.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/fountain2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/library.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/playground.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/police2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/post_box.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/post_office.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/recycling.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/telephone.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/toilets.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/blocks.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/bollard.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/cycle_barrier.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/gate.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/lift_gate.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/stile.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/fountain2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/library.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/toilets.svg
    - packages/mapsforge_flutter/assets/symbols/custom/money/atm2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/archaeological2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/attraction.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/castle2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/cinema2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/information.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/memorial.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/monument.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/museum.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/ruin.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/theatre.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/view_point.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/windmill.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/zoo.svg
    - packages/mapsforge_flutter/assets/symbols/education/nursery3.svg
    - packages/mapsforge_flutter/assets/symbols/education/school.svg
    - packages/mapsforge_flutter/assets/symbols/education/university.svg
    - packages/mapsforge_flutter/assets/symbols/food/bar.svg
    - packages/mapsforge_flutter/assets/symbols/food/biergarten.svg
    - packages/mapsforge_flutter/assets/symbols/food/cafe.svg
    - packages/mapsforge_flutter/assets/symbols/food/drinkingtap.svg
    - packages/mapsforge_flutter/assets/symbols/food/fastfood.svg
    - packages/mapsforge_flutter/assets/symbols/food/pub.svg
    - packages/mapsforge_flutter/assets/symbols/food/restaurant.svg
    - packages/mapsforge_flutter/assets/symbols/health/doctors2.svg
    - packages/mapsforge_flutter/assets/symbols/health/hospital.svg
    - packages/mapsforge_flutter/assets/symbols/health/pharmacy.svg
    - packages/mapsforge_flutter/assets/symbols/money/atm2.svg
    - packages/mapsforge_flutter/assets/symbols/money/bank2.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/buddhist.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/christian.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/hindu.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/islamic.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/jewish.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/shinto.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/unknown.svg
    - packages/mapsforge_flutter/assets/symbols/poi/cave.svg
    - packages/mapsforge_flutter/assets/symbols/poi/embassy2.svg
    - packages/mapsforge_flutter/assets/symbols/poi/mountain_pass.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/alcohol.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/bakery.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/bicycle.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/book.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/butcher.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/car_repair.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/convenience.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/diy.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/greengrocer.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/laundrette.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/marketplace.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/supermarket.svg
    - packages/mapsforge_flutter/assets/symbols/sport/golf.svg
    - packages/mapsforge_flutter/assets/symbols/sport/shooting.svg
    - packages/mapsforge_flutter/assets/symbols/sport/soccer.svg
    - packages/mapsforge_flutter/assets/symbols/sport/stadium.svg
    - packages/mapsforge_flutter/assets/symbols/sport/swimming_outdoor.svg
    - packages/mapsforge_flutter/assets/symbols/sport/tennis.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/archaeological2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/attraction.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/castle2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/cinema2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/information.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/memorial.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/monument.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/museum.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/picnic.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/ruin.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/theatre.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/view_point.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/windmill.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/zoo.svg
    - packages/mapsforge_flutter/assets/symbols/transport/airport2.svg
    - packages/mapsforge_flutter/assets/symbols/transport/bus_station.svg
    - packages/mapsforge_flutter/assets/symbols/transport/bus_stop.svg
    - packages/mapsforge_flutter/assets/symbols/transport/fuel.svg
    - packages/mapsforge_flutter/assets/symbols/transport/helicopter.svg
    - packages/mapsforge_flutter/assets/symbols/transport/lighthouse.svg
    - packages/mapsforge_flutter/assets/symbols/transport/parking.svg
    - packages/mapsforge_flutter/assets/symbols/transport/parking_private.svg
    - packages/mapsforge_flutter/assets/symbols/transport/rental_bicycle.svg
    - packages/mapsforge_flutter/assets/symbols/transport/slipway.svg
    - packages/mapsforge_flutter/assets/symbols/transport/traffic_lights.svg
    - packages/mapsforge_flutter/assets/symbols/transport/train_station2.svg
    - packages/mapsforge_flutter/assets/symbols/transport/tram_stop.svg
    - packages/mapsforge_flutter/assets/symbols/water/weir.svg
    - packages/mapsforge_flutter/assets/symbols/windsock.svg
    - packages/mapsforge_flutter/assets/symbols/viewpoint.svg


    
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
