name: Close stale issues
on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 60
          days-before-close: 14
          stale-issue-label: "stale"
          stale-issue-message: "This issue has been marked as stale due to inactivity for 60 days."
          close-issue-message: "This issue was closed due to inactivity for 14 days after being marked as stale."
